- name: Reset Redis Module
  ansible.builtin.shell: dnf module reset redis -y

- name: Enable Native Redis 6
  ansible.builtin.shell: dnf module enable redis:6 -y

- name: Install Redis
  ansible.builtin.dnf:
    name: redis
    state: installed

- name: Update Redis config file listen address
  ansible.builtin.replace:
    path: /etc/redis.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'

- name: Start Redis Service
  ansible.builtin.systemd:
    name: redis
    state: restarted
    enabled: yes